body{
    background-color: lightskyblue;
    
    
}
.titulos{
    color: black;
    border-style: solid;
    border-width: 8px;
    border-color: whitesmoke;
    margin-left: 10%;
    margin-right: 58%;
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
}
#mapa{
    border-radius: 15px;
    border-width: 10px;
    border-left: 55%;
    border-right: 50%;
    border-style: solid;

    width: 55%;
}
h4{
    width: 65%;
    color: rgb(61, 60, 60);
}
h1{
    color: rgba(184, 135, 11, 0.767);
    text-align: initial;
}
.topicos{
    color: rgb(61, 60, 60);
    width: 65%;
}
h2 {
    color: teal;
}
